extends template.pug

block links 
    link(rel="stylesheet", href="./sass/index.scss")

block title
    | Frontend Mentor main
block header
    include ./blocks/page-header/_header.pug
include ./blocks/page-promo/_promo.pug

block content
    include ./blocks/page-benefits/_benefits.pug
    include ./blocks/page-call-to-try/_call.pug
block footer 
    include ./blocks/page-footer/_footer.pug

