doctype html
html(lang='en')
  head
    block metatags
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
    
    block links
        link(rel='icon' type='image/png' sizes='32x32' href='./images/icons/favicon-32x32.png')
    title
        block title
  body
    block header
    block content
    block footer